<div class="container">
  <% @cocktails.each do |cocktail| %>
    <div class="row">
		  <div class="col-sm-4" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/2000x1000?cocktails)">
	      <%= link_to cocktail.name, cocktail_path(cocktail), class: "card-category" %>
		  </div>
		</div>
  <% end %>
</div>