<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/2000x1000?cocktails);">
  <div class="container">
    <h1>Cocktails <strong>teach people</strong> to <strong>be happy</strong>!</h1>
    <p>Change your life and learn to do cocktails at one of our campuses around the world.</p>
    <%= link_to "Add cocktail", new_cocktail_path, class: "btn btn-flat" %>
  </div>
</div>